<footer>
    <div class="container">
      <div class="row">
        <h1>FlightWay.</h1>
        <p>© 2024 Marwan Taha. All rights reserved</p>
        <div class="contacts">
          <div>
            <a href="mailto:marwantahaa@gmail.com">
              <img src="/images/logos/email.png" alt="email" />
            </a>
          </div>
          <div>
            <a
              target="_blank"
              href="https://www.linkedin.com/in/marwanabdelsamad/"
            >
              <img src="/images/logos/linkedin.png" alt="linkedin" />
            </a>
          </div>
          <div>
            <a target="_blank" href="https://github.com/Marwan-Taha">
              <img src="/images/logos/github.png" alt="github" />
            </a>
          </div>
        </div>
      </div>
    </div>
  </footer>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="/styles/style.js"></script>
  </body>
</html>