<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins&family=Roboto&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/styles/main.css" />
    <title>FlightWay</title>
  </head>

  <body>
    <header>
      <div class="navbar">
        <div class="logo">
          <h1>FlightWay</h1>
          <img src="/images/logo.gif" alt="logo animation" />
        </div>
        <ul class="nav-items">
          <li class="nav-item">
            <a href="/" class="nav_link">Home</a>
          </li>

          <li class="nav-item">
            <a
              class="nav_link load-about"
              href="#About"
              onclick="window.location.href='/#About'"
              ;
              >About</a
            >
          </li>

          <li class="nav-item nav-contact">
            <a href="mailto:marwantahaa@outlook.com" class="contact-link"
              >Contact Us</a
            >
          </li>

          <!-- <li class="nav-item dropdown">
            <button class="dropbtn">Discover</button>
            <div class="dropdown-content">
              <a href="#">Countries</a>
              <a href="#">Cities</a>
              <a href="#">Airlines</a>
            </div>
          </li> -->
        </ul>
      </div>
    </header>

