<%- include("partials/header.ejs") %>

<section class="intro">
  <div class="intro-container">
    <div class="intro-content-container">
      <h1>FlightWay<br />Your Real-Time Flight Tracking</h1>
      <p>
        <span>Track flights in real-time</span>. Stay updated on global
        departures, arrivals, and routes—all in one place.
      </p>
    </div>
    <div class="forward-buttons">
      <a class="findByNumber-link" href="/search">Find your Flight Now</a>
      <!-- <a class="findByDepArr-link" href="/search">Find by Flight Route</a> -->
    </div>
    <img src="/images/planeCover.png" alt="plane image" />
  </div>
</section>

<section class="about" id="About">
  <div class="about-outer-container">
    <div class="about-first-item">
      <div class="about-inner-container">
        <h1>About Us</h1>
        <p>
          Welcome to <span>FlightWay</span>, your reliable source for real-time
          flight tracking. We provide accurate and up-to-date flight information
          in a simple and user-friendly format.
        </p>

        <p>
          Our platform offers real-time updates on flight statuses, including
          departure and arrival times, gate info, and delays, ensuring you have
          the latest information at your fingertips.
        </p>

        <div class="forward-buttons">
          <a class="findByNumber-link" href="mailto:marwantahaa@outlook.com"
            >Get In Touch</a
          >
          <!-- <a class="findByDepArr-link" href="/search">Find by Flight Route</a> -->
        </div>
      </div>
      <div class="window-images-container">
        <div>
          <img
            class="window-image window1"
            src="/images/window1.jpg"
            alt="airplane window picture"
          />
        </div>
        <div>
          <img
            class="window-image window2"
            src="/images/window2.jpg"
            alt="airplane window picture"
          />
        </div>
        <div>
          <img
            class="window-image window3"
            src="/images/window3.jpg"
            alt="airplane window picture"
          />
        </div>
      </div>
    </div>

    <div class="about-second-item">
      <div class="why-us-title-container">
        <img class="why-us-title-img" src="/images/turn-down.gif" alt="" />

        <h2 class="why-us-title">Why Us</h2>
      </div>
      <div class="why-us-container">
        <div class="why-us-item item1">
          <img class="why-us-image" src="/images/veracity.png" alt="" />
          <h3>Accuracy</h3>
          <p>
            We deliver reliable and up-to-date flight data, sourced from trusted
            providers. Whether you’re tracking your own flight or someone
            else’s, you can count on us for the most accurate information
            available.
          </p>
        </div>
        <div class="why-us-item item2">
          <img class="why-us-image" src="/images/solution.png" alt="" />
          <h3>Simplicity</h3>
          <p>
            Our user-friendly interface is designed with ease of use in mind.
            From searching for a specific flight to understanding the details,
            everything is laid out in a clear and straightforward manner, making
            flight tracking accessible to everyone.
          </p>
        </div>
        <div class="why-us-item item3">
          <img class="why-us-image" src="/images/dependable.png" alt="" />
          <h3>Reliability</h3>
          <p>
            We understand that timely information is crucial, which is why we
            ensure our platform is always up and running when you need it. Our
            system is built to handle high traffic and provide consistent
            performance, so you never miss an update.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- <section class="showing-results">
      <div class="container">
        

        
      </div>
    </section> -->

<%-include("partials/footer.ejs")%>
